USE [master]
GO
/****** Object:  Database [QL_NhanSu]    Script Date: 22/04/2025 10:46:40 CH ******/
CREATE DATABASE [QL_NhanSu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_NhanSu', FILENAME = N'D:\sql\MSSQL16.THAOCUTE\MSSQL\DATA\QL_NhanSu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_NhanSu_log', FILENAME = N'D:\sql\MSSQL16.THAOCUTE\MSSQL\DATA\QL_NhanSu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_NhanSu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_NhanSu]
GO
/****** Object:  Table [dbo].[bao_hiem]    Script Date: 22/04/2025 10:46:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bao_hiem](
	[ma_bao_hiem] [varchar](20) NOT NULL,
	[ma_nhan_su] [varchar](20) NULL,
	[loai_bao_hiem] [nvarchar](50) NULL,
	[so_bao_hiem] [varchar](20) NULL,
	[ngay_bat_dau] [date] NULL,
	[ngay_ket_thuc] [date] NULL,
	[trang_thai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_bao_hiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[so_bao_hiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cham_cong]    Script Date: 22/04/2025 10:46:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cham_cong](
	[ma_nhan_su] [varchar](20) NOT NULL,
	[ngay] [date] NOT NULL,
	[ca_lam] [nvarchar](20) NULL,
	[check_in] [time](7) NULL,
	[check_out] [time](7) NULL,
	[trang_thai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nhan_su] ASC,
	[ngay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dao_tao]    Script Date: 22/04/2025 10:46:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dao_tao](
	[ma_khoa_hoc] [varchar](20) NOT NULL,
	[ten_khoa_hoc] [nvarchar](100) NULL,
	[ngay_bat_dau] [date] NULL,
	[ngay_ket_thuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_khoa_hoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hop_dong]    Script Date: 22/04/2025 10:46:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hop_dong](
	[ma_hop_dong] [varchar](20) NOT NULL,
	[ma_nhan_su] [varchar](20) NULL,
	[ngay_bat_dau] [date] NULL,
	[ngay_ket_thuc] [date] NULL,
	[loai_hop_dong] [nvarchar](30) NULL,
	[trang_thai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_hop_dong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khen_thuong_ky_luat]    Script Date: 22/04/2025 10:46:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khen_thuong_ky_luat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_nhan_su] [varchar](20) NULL,
	[loai] [nvarchar](20) NULL,
	[noi_dung] [nvarchar](max) NULL,
	[ngay] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[luong]    Script Date: 22/04/2025 10:46:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[luong](
	[ma_nhan_su] [varchar](20) NOT NULL,
	[thang] [int] NOT NULL,
	[nam] [int] NOT NULL,
	[luong_co_ban] [decimal](12, 2) NULL,
	[phu_cap] [decimal](12, 2) NULL,
	[thuong] [decimal](12, 2) NULL,
	[khau_tru] [decimal](12, 2) NULL,
	[tong_luong] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nhan_su] ASC,
	[thang] ASC,
	[nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nghi_phep]    Script Date: 22/04/2025 10:46:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nghi_phep](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_nhan_su] [varchar](20) NULL,
	[tu_ngay] [date] NULL,
	[den_ngay] [date] NULL,
	[ly_do] [nvarchar](100) NULL,
	[loai_nghi] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_su]    Script Date: 22/04/2025 10:46:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_su](
	[ma_nhan_su] [varchar](20) NOT NULL,
	[ho_ten] [nvarchar](100) NULL,
	[ngay_sinh] [date] NULL,
	[gioi_tinh] [nvarchar](10) NULL,
	[dia_chi] [nvarchar](max) NULL,
	[so_dien_thoai] [varchar](15) NULL,
	[email] [varchar](100) NULL,
	[ngay_vao_cong_ty] [date] NULL,
	[trang_thai_lam_viec] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nhan_su] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tai_khoan]    Script Date: 22/04/2025 10:46:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tai_khoan](
	[ten_dang_nhap] [varchar](50) NOT NULL,
	[mat_khau] [varchar](100) NULL,
	[ma_nhan_su] [varchar](20) NULL,
	[vai_tro] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ten_dang_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tham_gia_dao_tao]    Script Date: 22/04/2025 10:46:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tham_gia_dao_tao](
	[ma_nhan_su] [varchar](20) NOT NULL,
	[ma_khoa_hoc] [varchar](20) NOT NULL,
	[ket_qua] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nhan_su] ASC,
	[ma_khoa_hoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ung_vien]    Script Date: 22/04/2025 10:46:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ung_vien](
	[ma_ung_vien] [varchar](20) NOT NULL,
	[ho_ten] [nvarchar](100) NULL,
	[ngay_sinh] [date] NULL,
	[trinh_do] [nvarchar](100) NULL,
	[vi_tri_ung_tuyen] [nvarchar](100) NULL,
	[ket_qua] [nvarchar](20) NULL,
	[ma_nhan_su] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_ung_vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bao_hiem]  WITH CHECK ADD  CONSTRAINT [FK__bao_hiem__ma_nhan_su] FOREIGN KEY([ma_nhan_su])
REFERENCES [dbo].[nhan_su] ([ma_nhan_su])
GO
ALTER TABLE [dbo].[bao_hiem] CHECK CONSTRAINT [FK__bao_hiem__ma_nhan_su]
GO
ALTER TABLE [dbo].[cham_cong]  WITH CHECK ADD  CONSTRAINT [FK__cham_cong__ma_nhan_su] FOREIGN KEY([ma_nhan_su])
REFERENCES [dbo].[nhan_su] ([ma_nhan_su])
GO
ALTER TABLE [dbo].[cham_cong] CHECK CONSTRAINT [FK__cham_cong__ma_nhan_su]
GO
ALTER TABLE [dbo].[hop_dong]  WITH CHECK ADD  CONSTRAINT [FK__hop_dong__ma_nha_n_su] FOREIGN KEY([ma_nhan_su])
REFERENCES [dbo].[nhan_su] ([ma_nhan_su])
GO
ALTER TABLE [dbo].[hop_dong] CHECK CONSTRAINT [FK__hop_dong__ma_nha_n_su]
GO
ALTER TABLE [dbo].[khen_thuong_ky_luat]  WITH CHECK ADD  CONSTRAINT [FK__khen_thuo__ma_nhan_su] FOREIGN KEY([ma_nhan_su])
REFERENCES [dbo].[nhan_su] ([ma_nhan_su])
GO
ALTER TABLE [dbo].[khen_thuong_ky_luat] CHECK CONSTRAINT [FK__khen_thuo__ma_nhan_su]
GO
ALTER TABLE [dbo].[luong]  WITH CHECK ADD  CONSTRAINT [FK__luong__ma_nhan_su] FOREIGN KEY([ma_nhan_su])
REFERENCES [dbo].[nhan_su] ([ma_nhan_su])
GO
ALTER TABLE [dbo].[luong] CHECK CONSTRAINT [FK__luong__ma_nhan_su]
GO
ALTER TABLE [dbo].[nghi_phep]  WITH CHECK ADD  CONSTRAINT [FK__nghi_phep__ma_nhan_su] FOREIGN KEY([ma_nhan_su])
REFERENCES [dbo].[nhan_su] ([ma_nhan_su])
GO
ALTER TABLE [dbo].[nghi_phep] CHECK CONSTRAINT [FK__nghi_phep__ma_nhan_su]
GO
ALTER TABLE [dbo].[tai_khoan]  WITH CHECK ADD  CONSTRAINT [FK__tai_khoan__ma_nhan_su] FOREIGN KEY([ma_nhan_su])
REFERENCES [dbo].[nhan_su] ([ma_nhan_su])
GO
ALTER TABLE [dbo].[tai_khoan] CHECK CONSTRAINT [FK__tai_khoan__ma_nhan_su]
GO
ALTER TABLE [dbo].[tham_gia_dao_tao]  WITH CHECK ADD  CONSTRAINT [FK__tham_gia___ma_khoa_hoc] FOREIGN KEY([ma_khoa_hoc])
REFERENCES [dbo].[dao_tao] ([ma_khoa_hoc])
GO
ALTER TABLE [dbo].[tham_gia_dao_tao] CHECK CONSTRAINT [FK__tham_gia___ma_khoa_hoc]
GO
ALTER TABLE [dbo].[tham_gia_dao_tao]  WITH CHECK ADD  CONSTRAINT [FK__tham_gia___ma_nhan_su] FOREIGN KEY([ma_nhan_su])
REFERENCES [dbo].[nhan_su] ([ma_nhan_su])
GO
ALTER TABLE [dbo].[tham_gia_dao_tao] CHECK CONSTRAINT [FK__tham_gia___ma_nhan_su]
GO
ALTER TABLE [dbo].[ung_vien]  WITH CHECK ADD  CONSTRAINT [FK__ung_vien__ma_nhan_su] FOREIGN KEY([ma_nhan_su])
REFERENCES [dbo].[nhan_su] ([ma_nhan_su])
GO
ALTER TABLE [dbo].[ung_vien] CHECK CONSTRAINT [FK__ung_vien__ma_nhan_su]
GO
ALTER TABLE [dbo].[khen_thuong_ky_luat]  WITH CHECK ADD CHECK  (([loai]='ky_luat' OR [loai]='khen_thuong'))
GO
ALTER TABLE [dbo].[nghi_phep]  WITH CHECK ADD CHECK  (([loai_nghi]='nghi_viec' OR [loai_nghi]='nghi_khong_luong' OR [loai_nghi]='nghi_om' OR [loai_nghi]='phep_nam'))
GO
ALTER TABLE [dbo].[nhan_su]  WITH CHECK ADD CHECK  (([trang_thai_lam_viec]='nghi_viec' OR [trang_thai_lam_viec]='tam_nghi' OR [trang_thai_lam_viec]='dang_lam'))
GO
ALTER TABLE [dbo].[ung_vien]  WITH CHECK ADD CHECK  (([ket_qua]='cho_duyet' OR [ket_qua]='khong_dat' OR [ket_qua]='dat'))
GO
/****** Object:  Trigger [dbo].[trg_check_bao_hiem_insert]    Script Date: 22/04/2025 10:46:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Nguyễn Thu Thảo 
-- Create date: 22/04/2025
-- Description:	ngăn chặn thêm bảo hiểm khi không có them nhân sự mới
-- =============================================
CREATE TRIGGER [dbo].[trg_check_bao_hiem_insert]
ON [dbo].[bao_hiem]
INSTEAD OF INSERT
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM inserted i
        WHERE i.ma_nhan_su IS NULL 
           OR NOT EXISTS (SELECT 1 FROM nhan_su WHERE ma_nhan_su = i.ma_nhan_su)
    )
    BEGIN
        RAISERROR(N'Mã nhân sự không tồn tại hoặc bị để trống.', 16, 1)
        ROLLBACK TRANSACTION
    END
    ELSE
    BEGIN
        INSERT INTO bao_hiem
        SELECT * FROM inserted
    END
END
GO
ALTER TABLE [dbo].[bao_hiem] ENABLE TRIGGER [trg_check_bao_hiem_insert]
GO
/****** Object:  Trigger [dbo].[trg_update_tong_luong]    Script Date: 22/04/2025 10:46:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nguyễn Thu Thảo 
-- Create date: 22/04/2025
-- Description:	tự động cập nhật lương tổng mỗi tháng dựa trên số công
-- =============================================
CREATE TRIGGER [dbo].[trg_update_tong_luong]
ON [dbo].[luong]
AFTER INSERT, UPDATE
AS
BEGIN
    -- Tính số công thực tế từ bảng chấm công
    WITH so_cong AS (
        SELECT 
            ma_nhan_su, 
            MONTH(ngay) AS thang, 
            YEAR(ngay) AS nam, 
            COUNT(*) AS cong_thuc_te
        FROM cham_cong
        WHERE trang_thai = N'Có mặt'
        GROUP BY ma_nhan_su, MONTH(ngay), YEAR(ngay)
    )
    
    -- Cập nhật tổng lương theo số công thực tế
    UPDATE l
    SET 
        tong_luong = 
            ROUND(
                ISNULL(l.luong_co_ban, 0) * 1.0 * ISNULL(sc.cong_thuc_te, 0) / 26 +
                ISNULL(l.phu_cap, 0) * 1.0 * ISNULL(sc.cong_thuc_te, 0) / 26 +
                ISNULL(l.thuong, 0) * 1.0 * ISNULL(sc.cong_thuc_te, 0) / 26 -
                ISNULL(l.khau_tru, 0), 0
            )
    FROM luong l
    JOIN inserted i ON l.ma_nhan_su = i.ma_nhan_su AND l.thang = i.thang AND l.nam = i.nam
    LEFT JOIN so_cong sc 
        ON l.ma_nhan_su = sc.ma_nhan_su 
        AND l.thang = sc.thang 
        AND l.nam = sc.nam
END
GO
ALTER TABLE [dbo].[luong] ENABLE TRIGGER [trg_update_tong_luong]
GO
/****** Object:  Trigger [dbo].[trg_delete_nhan_su]    Script Date: 22/04/2025 10:46:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nguyễn Thu Thảo 
-- Create date: 22/04/2025
-- Description:	tự động xóa toàn bộ thông tin của nhân sự nghỉ việc
-- =============================================
CREATE TRIGGER [dbo].[trg_delete_nhan_su]
ON [dbo].[nhan_su]
INSTEAD OF DELETE
AS
BEGIN
    DELETE FROM bao_hiem WHERE ma_nhan_su IN (SELECT ma_nhan_su FROM deleted)
    DELETE FROM cham_cong WHERE ma_nhan_su IN (SELECT ma_nhan_su FROM deleted)
    DELETE FROM hop_dong WHERE ma_nhan_su IN (SELECT ma_nhan_su FROM deleted)
    DELETE FROM luong WHERE ma_nhan_su IN (SELECT ma_nhan_su FROM deleted)
    DELETE FROM nghi_phep WHERE ma_nhan_su IN (SELECT ma_nhan_su FROM deleted)
    DELETE FROM tai_khoan WHERE ma_nhan_su IN (SELECT ma_nhan_su FROM deleted)
    DELETE FROM tham_gia_dao_tao WHERE ma_nhan_su IN (SELECT ma_nhan_su FROM deleted)
    DELETE FROM ung_vien WHERE ma_nhan_su IN (SELECT ma_nhan_su FROM deleted)
    DELETE FROM khen_thuong_ky_luat WHERE ma_nhan_su IN (SELECT ma_nhan_su FROM deleted)

    DELETE FROM nhan_su WHERE ma_nhan_su IN (SELECT ma_nhan_su FROM deleted)
END
GO
ALTER TABLE [dbo].[nhan_su] ENABLE TRIGGER [trg_delete_nhan_su]
GO
USE [master]
GO
